.background{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 100%,#8f0148,#420707);
}
.ListView{
    -fx-background-color:linear-gradient(from 50% 25% to 100% 100%,#8f0148,#420707);
}
.bottom{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 100%,#140b0b,#2e0d0d);
}
.transparent{
    -fx-background-color:rgba(0,0,0,0.0);
}
.playgif{
    -fx-background-image: url(Wave.gif);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
.Text{
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-text-fill: #FFFFFF;
}
.Style {
    -fx-background-color: rgba(0,0,0,0.0);
}